{% extends '@layout/default.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div><!--/.row-->

    {{ messagesPartial('partial::alerts', {dismissible: true}) }}

    <div class="row">
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="panel panel-blue panel-widget ">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ productCount }}</div>
                        {% if productCount > 1 %}
                            <div class="text-muted">Products</div>
                        {% else %}
                            <div class="text-muted">Product</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="panel panel-orange panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-cutlery fa-3x"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ recipeCount }}</div>
                        {% if recipeCount > 1 %}
                            <div class="text-muted">Recipes</div>
                        {% else %}
                            <div class="text-muted">Recipe</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="panel panel-teal panel-widget">
                <div class="row no-padding">
                    <div class="col-sm-3 col-lg-5 widget-left">
                        <i class="fa fa-user-plus fa-3x"></i>
                    </div>
                    <div class="col-sm-9 col-lg-7 widget-right">
                        <div class="large">{{ userCount }}</div>
                        {% if userCount > 1 %}
                            <div class="text-muted">User</div>
                        {% else %}
                            <div class="text-muted">User</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {#<div class="col-xs-12 col-md-6 col-lg-3">#}
            {#<div class="panel panel-red panel-widget">#}
                {#<div class="row no-padding">#}
                    {#<div class="col-sm-3 col-lg-5 widget-left">#}
                        {#<i class="fa fa-eye fa-3x"></i>#}
                    {#</div>#}
                    {#<div class="col-sm-9 col-lg-7 widget-right">#}
                        {#<div class="large">25.2k</div>#}
                        {#<div class="text-muted">Page Views</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Site Traffic Overview</div>
                <div class="panel-body">
                    <div class="canvas-wrapper">
                        <canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
{% endblock %}
